<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vip.dengwj.mapper.EmpMapper">
    <update id="update2">
        update tb_emp
        <set>
            <if test="username != null">
                username =
                #{username},
            </if>
            <if test="name != null">
                name =
                #{name}
            </if>
            <if test="gender != null">
                gender =
                #{gender},
            </if>
            <if test="image != null">
                image =
                #{image},
            </if>
            <if test="job != null">
                job =
                #{job},
            </if>
            <if test="entryDate != null">
                entry_date =
                #{entryDate},
            </if>
            <if test="deptId != null">
                dept_id =
                #{deptId},
            </if>
            <if test="updateTime != null">
                update_time =
                #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="getList" resultType="vip.dengwj.pojo.Emp">
        select *
        from mybatis.tb_emp
        <where>
            <if test="name != null">
                name like concat('%',
                #{name},
                '%'
                )
            </if>
            <if test="gender != null">
                and gender =
                #{gender}
            </if>
            <if test="start != null and end != null">
                and entry_date between
                #{start}
                and
                #{end}
            </if>
        </where>
        order by update_time desc
    </select>
</mapper>